<?xml version="1.0" encoding="UTF-8"?>


<!-- 

    Copyright (c) 2010, 2011 Hércules S. S. José



    Este arquivo é parte do programa CATU.

    CATU é um software livre; você pode redistribui-lo e/ou 

    modificá-lo dentro dos termos da Licença Pública Geral Menor GNU como 

    publicada pela Fundação do Software Livre (FSF); na versão 2.1 da 

    Licença.



    Este programa é distribuído na esperança que possa ser útil, 

    mas SEM NENHUMA GARANTIA; sem uma garantia implicita de ADEQUAÇÂO a qualquer

    MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral Menor GNU 
    
    em português para maiores detalhes.



    Você deve ter recebido uma cópia da Licença Pública Geral Menor GNU sob o 
    
    nome de "LICENSE.TXT" junto com este programa, se não, acesse o site HSlife no 

    endereco www.hslife.com.br ou escreva para a Fundação do Software Livre(FSF) Inc., 

    51 Franklin St, Fifth Floor, Boston, MA  02110-1301, USA.



    Para mais informações sobre o programa CATU e seus autores acesse o 

    endereço www.hslife.com.br, pelo e-mail contato@hslife.com.br ou escreva para 

    Hércules S. S. José, Av. Ministro Lafaeyte de Andrade, 1683 - Bl. 3 Apt 404, 

    Marco II - Nova Iguaçu, RJ, Brasil.

 -->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- NÃO ALTERE ESTAS LINHAS -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- NÃO ALTERE ESTAS LINHAS -->

    <!-- No lugar de 'localhost', informe o endereço do servidor.
         Caso a porta padrão do PostgreSQL seja diferente altere a porta
         Informe também o nome do banco de dados a ser utilizado
    -->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/catu</property>


    <!-- No lugar de 'postgres', informe o usuário do banco de dados -->
    <property name="hibernate.connection.username">catu</property>


    <!-- No lugar de 'postgres', informe a senha do usuário do banco de dados -->
    <property name="hibernate.connection.password">c4tvc4cik3</property>


    <!-- NÃO ALTERE ESTAS LINHAS -->   
    <mapping class="br.com.hslife.catu.model.Login"/>
    <mapping class="br.com.hslife.catu.model.Cliente"/>
    <mapping class="br.com.hslife.catu.model.Endereco"/>
    <mapping class="br.com.hslife.catu.model.Setor"/>
    <mapping class="br.com.hslife.catu.model.Status"/>
    <mapping class="br.com.hslife.catu.model.Tipo"/>
    <mapping class="br.com.hslife.catu.model.Atendimento"/>
    <mapping class="br.com.hslife.catu.model.Maquina"/>
    <mapping class="br.com.hslife.catu.model.Software"/>
    <!-- NÃO ALTERE ESTAS LINHAS -->
  </session-factory>
</hibernate-configuration>
